
@import 'variables';

.highlight .c {
  color: $custom-comment !important;
}

.highlight .nf, .highlight .fm {
  color: $custom-green !important;
}

.highlight .no {
  color: $custom-cyan !important;
}

.highlight .kd, .highlight .kn, .highlight .nb {
  color: $custom-pink !important;
}

.highlight .o {
  color: $custom-red !important;
}

.highlight .nl {
  color: $custom-white !important;
}

.highlight .s1, .highlight .s2 {
  color: $custom-yellow !important;
}

.highlight .mi {
  color: $custom-purple !important;
}